<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {{> header}}
    <p>
      Your ID is {{id}}
    </p>
    <p> 
      It is my home page
    </p>
    {{> footer}}
  </body>
</html>
